* {
  box-sizing: border-box;
}

@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/OpenSans-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/OpenSans-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/OpenSans-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/OpenSans-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

:root {
  --white: #fff;
  --black: #000;
  --main-color: #9D5CD0;
}

body {
  font-family: 'Open Sans', sans-serif;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
  height: 100%;
}

.btn-reset {
  padding: 0;
  border: none;
  background-color: transparent;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.btn {
  padding: 8px 14px;
  font-weight: bold;
  border: 2px solid var(--main-color);
  border-radius: 100px;
  color: var(--main-color);
}

.title {
  font-size: 48px;
}

.hover:hover {
  color: #C283F3;
}

.container {
  padding: 0 50px;
  margin: 0 auto;
  max-width: 1703px;
}

.header {
  background-color: var(--black);
  width: 100%;
  height: 100px;
  font-size: 18px;
}

.header__container {
  position: relative;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: auto;
}

.header__nav {
  width: 100%;
  margin-left: 170px;
}

.nav__list {
  display: flex;
  justify-content: space-between;
  width: 77.5%;
}

.nav__item {
  padding: 0 10px;
}

.nav__link {
  font-weight: 600;
  color: var(--white);
}

.burger {
  display: none;
  width: 36px;
  height: 28px;
  order: 1;
  cursor: pointer;
}

.burger__line {
  display: block;
  width: 36px;
  height: 3px;
  background-color: var(--white);
}

.burger__line:nth-child(1) {
  margin-top: 1px;
}

.burger__line:nth-child(2) {
  margin-top: 10px;
  width: 78%;
}

.burger__line:nth-child(3) {
  margin-top: 9px;
  width: 66%;
}

.header__login {
  min-width: fit-content;
  color: var(--white);
}

.header__login::before {
  content: ' ';
  display: inline-block;
  width: 13px;
  height: 13px;
  margin-right: 9px;
  background-image: url(../img/login.svg);
  background-repeat: no-repeat;
  background-size: cover
}

.header__login--mobile {
  display: none;
}

.header-menu {
  position: relative;
  height: 70px;
  background: rgba(0, 0, 0, 0.4);
  z-index: 11;
}

.header-menu__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  height: 100%;
}

.header-menu__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 64.5%;
  height: 100%;
  color: var(--white);
}

.header-menu__item {
  position: relative;
  padding: 26px 0;
  cursor: pointer;
}

.header-menu__item:hover .header-menu__list--dropdown {
  visibility: visible;
  opacity: 1;
  transition: all 0.2s;
}

.header-menu__link {
  display: flex;
  align-items: center;
}

.header-menu__link--drop::after {
  content: "";
  width: 10px;
  height: 10px;
  background-image: url("../img/download.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: inline-block;
  margin-left: 4px;
  transition: transform 0.3s;
}

.header-menu__link--drop:hover::after {
  transform: rotate(180deg);
  transition: all 0.2s;
}

.header-menu__list--dropdown {
  position: absolute;
  width: 300px;
  height: 300px;
  background-color: rgba(0, 0, 0, 0.6);
  left: 0;
  top: 100%;
  padding: 40px;
  display: block;
  transition: all 0.3s;
  opacity: 0;
  visibility: hidden;
}

.dropdown-list__item {
  width: 220px;
  height: 40px;
}

.dropdown-list__item:not(:last-child) {
  margin-bottom: 20px;
}

.dropdown-list__link {
  display: block;
  height: 100%;
  width: 100%;
  padding-left: 14px;
  line-height: 40px;
  color: var(--white);
}

.dropdown-list__link--tintoretto {
  background-image: url('../img/dropdown/Tintoretto.jpg');
}

.dropdown-list__link--friedrich {
  background-image: url('../img/dropdown/Friedrich.jpg');
}

.dropdown-list__link--leonardo {
  background-image: url('../img/dropdown/Leonardo.jpg');
}

.dropdown-list__link--verrocchio {
  background-image: url('../img/dropdown/Verrocchio.jpg');
}

.dropdown-list__link--mone {
  background-image: url('../img/dropdown/Mone.jpg');
}

.dropdown-list__link--sisley {
  background-image: url('../img/dropdown/Sisley.jpg');
}

.dropdown-list__link--mane {
  background-image: url('../img/dropdown/Mane.jpg');
}

.dropdown-list__link--renoir {
  background-image: url('../img/dropdown/Renoir.jpg');
}

.dropdown-list__link--vangog {
  background-image: url('../img/dropdown/VanGog.jpg');
}

.dropdown-list__link--sezann {
  background-image: url('../img/dropdown/Sezann.jpg');
}

.dropdown-list__link--gogen {
  background-image: url('../img/dropdown/Gogen.jpg');
}

.dropdown-list__link--seurat {
  background-image: url('../img/dropdown/Seurat.jpg');
}

.dropdown-list__link--kandinsky {
  background-image: url('../img/dropdown/Kandinsky.jpg');
}

.dropdown-list__link--marinetti {
  background-image: url('../img/dropdown/Marinetti.jpg');
}

.dropdown-list__link--malevich {
  background-image: url('../img/dropdown/Malevich.jpg');
}

.dropdown-list__link--picasso {
  background-image: url('../img/dropdown/Picasso.jpg');
}

.dropdown-list__link--karra {
  background-image: url('../img/dropdown/Karra.jpg');
}

.dropdown-list__link--pratella {
  background-image: url('../img/dropdown/Pratella.jpg');
}

.dropdown-list__link--severini {
  background-image: url('../img/dropdown/Severini.jpg');
}

.dropdown-list__link--balla {
  background-image: url('../img/dropdown/Balla.jpg');
}

.simplebar-scrollbar {
  position: absolute;
  left: 0px;
  right: 0;
  min-height: 10px;
}

.simplebar-scrollbar::before {
  background-color: var(--white);
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  opacity: 1;
  border-radius: 0px;
}

.simplebar-track.simplebar-vertical {
  width: 2px;
  background-color: var(--black);
}

.simplebar-track {
  right: -18px;
}

.simplebar-scrollbar.simplebar-visible:before {
  /* When hovered, remove all transitions from drag handle */
  opacity: 0.8;
  transition: opacity 0s linear;
}

.wrapper {
  width: 100%;
  height: 100%;
}

.search {
  position: absolute;
  z-index: 12;
  top: 121px;
  right: 51px;
}

.search__btn {
  display: inline-block;
  padding: 0;
  width: 22px;
  height: 22px;
  background-image: url(../img/search.svg);
  background-size: cover;
  background-color: transparent;
  border: none;
  transform: translateY(6px);
}

.search__input {
  margin-left: 4px;
  max-width: 217px;
  color: var(--white);
  background: transparent;
  border: none;
  border-bottom: 1px solid var(--white);
}

.search__input::placeholder {
  color: var(--white);
  font-size: 18px;
}

.search__close-btn {
  display: none;
  position: absolute;
  right: 0;
  height: 29px;
  width: 29px;
  background-image: url('../img/search-close.svg');
}

.hero {
  position: relative;
  margin-bottom: 90px;
  overflow: hidden;
}

.hero__background {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -10;
  background-image: url(../img/hero1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  animation: 20s scale infinite linear;
}

@keyframes scale {
  0% {
    transform: scale(0, 0.0, 0);
  }
  50% {
    transform: scale(1.15);
  }
  100% {
    transform: scale(0, 0.0, 0);
  }
}

.hero__container {
  padding-left: 45px;
  padding-top: 139px;
  padding-bottom: 147px;
}

.hero__title {
  max-width: 597px;
  margin-bottom: 19px;
  font-weight: bold;
  font-size: 72px;
  line-height: 84px;
  color: var(--white);
}

.hero__text {
  margin-bottom: 118px;
  padding-left: 5px;
  max-width: 579px;
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  color: var(--white);
}

.hero__btn {
  padding: 21px 35px;
  margin-left: 5px;
  font-size: 18px;
  color: var(--white);
  background-color: #9D5CD0;
}

.about {
  margin-bottom: 71px;
}

.about__title {
  margin-bottom: 23px;
}

.about__text {
  max-width: 1080px;
  line-height: 32px;
  color: #333333;
}

.gallery {
  padding-top: 90px;
  padding-bottom: 80px;
  background-image: url(../img/gallery_background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.gallery__container {
  position: relative;
  display: flex;
}

.gallery__title {
  color: var(--white);
  margin-bottom: 32px;
}

.gallery__left {
  margin-right: 50px;
  width: 25%;
}

.gallery__note {
  position: absolute;
  bottom: -12px;
  width: 23%;
  font-weight: 600;
  line-height: 32px;
  color: var(--white);
}

.gallery__link {
  color: var(--main-color);
}

.filter {
  max-width: 400px;
}

.filter__text {
  margin-bottom: 17px;
  color: var(--white);
  letter-spacing: 0.5px;
}

.choices__inner {
  padding: 5px 10px;
  min-height: 40px;
  border-radius: 6px;
  color: var(--white);
  background-color: transparent;
}

.choices__placeholder {
  opacity: 1;
}

.choices__list {
  padding-left: 5px;
  font-size: 16px;
  color: var(--white);
  background-color: transparent;
  border-radius: 6px;
}

.choices__item {
  font-size: 16px;
}

.choices__list--dropdown .choices__item {
  padding: 11px;
}

.choices__list--dropdown .choices__item:not(:last-child) {
  border-bottom: 1px solid;
}

.choices[data-type*=select-one]:after {
  margin-top: 0;
  top: 36%;
  height: 11px;
  width: 12px;
  border: none;
  background-image: url(../img/download.svg);
  transition: transform 0.3s;
}

.choices[data-type*=select-one].is-open:after {
  margin-top: 0;
  transform: rotate(180deg);
}

#choices--customSelect-item-choice-1 {
  display: none;
}

.is-open .choices__inner {
  border-radius: 6px;
}

.choices__list--dropdown .choices__item {
  font-size: 16px;
}

.choices__list--dropdown .choices__item--selectable.is-highlighted {
  background-color: var(--main-color)
}

.gallery__right {
  margin-top: 16px;
  max-width: 71.7%;
}

.swiper-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
  width: 130px;
  height: 30px;
}

.swiper-pagination {
  position: static;
  width: 51px;
  color: var(--white);
}

.swiper-button-prev, .swiper-button-next {
  position: static;
  margin-top: 0;
  width: 30px;
  height: 30px;
  background-color: #666;
  border-radius: 50%;
}

.swiper-button-prev:after {
  content: '';
  width: 7px;
  height: 12px;
  background-image: url('../img/arrow-l.svg');
  background-repeat: no-repeat;
  background-position-x: -1px;
}

.swiper-button-next:after {
  content: '';
  width: 9px;
  height: 12px;
  background-image: url('../img/arrow-r.svg');
  background-repeat: no-repeat;
  background-position-x: 1px;
}

.swiper-container {
  max-width: 1150px;
  max-height: 1050px;
  overflow: hidden;
}

.swiper-container .gallery__swiper-wrapper {
  max-height: 750px;
}

.swiper-slide {
  overflow: hidden;
  object-fit: contain;
}

.catalog {
  background-color: var(--white);
  padding: 80px 0;
}

.catalog__top {
  display: flex;
  align-items: flex-end;
  margin-bottom: 16px;
  height: 66px;
}

.catalog__title {
  margin-right: 30px;
  align-self: center;
}

.catalog__btn {
  width: 66px;
  height: 66px;
  outline: orangered;
  background-color: var(--white);
  background-size: 46px;
  background-repeat: no-repeat;
  background-position: center center;
  border: 2px solid transparent;
  border-radius: 50%;
}

.catalog__btn:not(:last-child) {
  margin-right: 26px;
}

.catalog__btn:focus {
  border: 2px solid var(--main-color);
}

.catalog__btn--french {
  background-image: url(../img/lang_fr.png);
}

.catalog__btn--german {
  background-image: url(../img/lang_ger.png);
}

.catalog__btn--italian {
  background-image: url(../img/lang_it.png);
}

.catalog__btn--russian {
  background-image: url(../img/lang_ru.png);
}

.catalog__btn--belgian {
  background-image: url(../img/lang_bel.png);
}

.catalog-tab__content {
  display: none;
}

.catalog-tab__content--active {
  display: block;
}

.catalog__text {
  margin-bottom: 39px;
  max-width: 1080px;
  line-height: 32px;
  color: #333;
}

.artists {
  display: flex;
  justify-content: space-between;
}

.artists__left {
  width: 46.8%;
}

.artists__content {
  display: none;
}

.artists__content--active {
  display: inline-block;
}

.artists__photo {
  width: 100%;
  margin-bottom: 36px;
  max-height: 500px;
  object-fit: contain;
}

.artists__name {
  font-weight: 600;
  font-size: 24px;
  margin-bottom: 12px;
}

.artists__lifetime {
  display: block;
  margin-bottom: 5px;
  font-size: 12px;
  line-height: 16px;
  color: #999999;
}

.artists__descr {
  line-height: 32px;
}

.artists__right {
  width: 50.1%;
}

.accordion__container {
  width: 100%;
}

.accordion__title {
  position: relative;
  padding: 40px 0;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  color: #333333;
  border-top: 1px solid #cacaca;
  border-bottom: 1px solid #cacaca;
  border-collapse: collapse;
  cursor: pointer;
}

.accordion .ui-accordion-header {
  padding: 10px;
  background: #ffd6f0;
  cursor: pointer;
  outline: none;
  position: relative;
}

.accordion .ui-accordion-header-icon {
  content: '';
  position: absolute;
  top: 10px;
  right: 10px;
  display: inline-block;
  width: 20px;
  height: 13px;
  background: url(https://snipp.ru/img/down.png) 50% 50% no-repeat;
}

.accordion .ui-accordion-header-active .ui-accordion-header-icon {
  background-image: url(https://snipp.ru/img/up.png);
}

.accordion__content {
  padding: 25px 0;
}

.accordion__list {
  min-height: 291px;
  column-width: 208px;
}

.artists__item {
  font-size: 16px;
  line-height: 32px;
  color: #333333;
}

.artists__item:checked {
  color: var(--main-color);
}

.events {
  padding-top: 11px;
  padding-bottom: 78px;
  background-color: var(--white);
}

.events__title {
  margin-bottom: 25px;
}

.events__swiper-wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.events__item {
  position: relative;
  padding-bottom: 71px;
  margin-bottom: 46px;
  max-width: 31.3%;
  border: 1px solid #CACACA;
}

.events__item--hide {
  display: none;
}

.events__img {
  margin-bottom: 13px;
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.events__place, .events__date {
  display: block;
  padding-right: 17px;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  text-align: right;
  color: #999999;
}

.events__card-bottom {
  padding: 4px 47px 0 50px;
  color: #333333;
}

.events__subtitle {
  margin-bottom: 3px;
  font-weight: 600;
  font-size: 24px;
  line-height: 33px;
}

.events__descr {
  margin-bottom: 20px;
  line-height: 32px;
}

.events__more-link {
  position: absolute;
  bottom: 50px;
  left: 50px;
  width: 90px;
  color: var(--main-color);
  border-bottom: 1px solid var(--main-color);
}

.events__btn {
  display: block;
  margin: 0 auto;
  padding: 19px 41px;
  background-color: var(--white);
}

.editions {
  padding-top: 90px;
  padding-bottom: 80px;
  background-image: url('../img/editions.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.editions__container {
  display: flex;
  justify-content: space-between;
}

.editions__left {
  min-width: 27%;
}

.editions__title {
  margin-bottom: 32px;
  color: var(--white);
}

.editions__subtitle {
  padding: 0;
  margin-bottom: 13px;
  color: var(--white);
  font-weight: bold;
  background-color: transparent;
  border: none;
  letter-spacing: 1px;
}

.editions__list {
  margin-bottom: 44px;
}

.editions__item:not(:last-child) {
  margin-bottom: 16px;
}

.editions__label {
  display: inline-block;
  position: relative;
  padding-left: 25px;
  color: var(--white);
  cursor: pointer;
}

.editions__label span::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 11px;
  height: 11px;
  border: 1px solid var(--white);
}

.editions__label span::after {
  content: "";
  position: absolute;
  left: 5px;
  top: 50%;
  transform: translateY(-50%);
  width: 4px;
  height: 4px;
  background: #C283F3;
  border-radius: 100%;
  opacity: 0;
}

.editions__label input:checked+span {
  color: #C283F3;
}

.editions__label input:checked+span::before {
  border: 1px solid #C283F3;
}

.editions__label input:checked+span::after {
  opacity: 1;
}

.editions__price .editions__subtitle {
  margin-bottom: 15px;
}

.price {
  width: 277px;
  height: 40px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 6px;
}

.price__text {
  padding-left: 10px;
  padding-right: 3px;
  min-width: 40px;
  height: 100%;
  color: var(--white);
}

.price__input {
  padding-left: 10px;
  width: 73px;
  height: 100%;
  color: var(--white);
  background: rgba(157, 92, 208, 0.5);
  border: none;
}

.price__input::placeholder {
  color: var(--white);
}

.editions__right {
  max-width: 71.9%;
}

.editions__swiper-top {
  padding-top: 39px;
  margin-bottom: 46px;
}

.editions__swiper-pagination {
  position: static;
  width: 33px;
  color: var(--white);
}

.editions__swiper-button-prev, .editions__swiper-button-next {
  position: relative;
  margin-top: 0;
  width: 30px;
  height: 30px;
  background-color: #666;
  border-radius: 50%;
}

.editions__swiper-button-prev:after {
  content: '';
  display: block;
  position: absolute;
  top: 50%;
  left: 11px;
  transform: translateY(-50%);
  width: 7px;
  height: 12px;
  background-image: url('../img/arrow-l.svg');
  background-repeat: no-repeat;
  background-position-x: -1px;
}

.editions__swiper-button-next:after {
  content: '';
  display: block;
  position: absolute;
  top: 50%;
  left: 11px;
  transform: translateY(-50%);
  width: 9px;
  height: 12px;
  background-image: url('../img/arrow-r.svg');
  background-repeat: no-repeat;
  background-position-x: 1px;
}

.editions__swiper-container {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.editions__swiper-wrapper {
  display: flex;
  width: 100%;
  height: 100%;
}

.editions__swiper-slide {
  flex-shrink: 0;
  max-width: 350px;
}

.slide__img {
  margin-bottom: 23px;
  max-height: 390px;
}

.slide__descr {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.slide__title {
  font-weight: 700;
  line-height: 22px;
  color: var(--white);
}

.slide__author {
  line-height: 22px;
  color: var(--white);
}

.slide__price {
  font-style: italic;
  line-height: 22px;
  color: var(--white);
}

.slide__btn {
  padding: 8px 24px;
  background-color: transparent;
  color: var(--white);
}

@media (max-width: 1440px) {
  .header__nav {
    margin-left: 30px;
  }
  .accordion__list {
    columns: 2 auto;
  }
  .events__card-bottom {
    padding: 6px 30px 0 34px;
  }
}

@media (max-width: 1024px) {
  .header__container {
    justify-content: center;
  }
  .header__logo img {
    width: 187px;
  }
  .burger {
    position: absolute;
    left: 50px;
    display: inline-block;
    z-index: 13;
  }
  .burger_active span {
    margin-bottom: -2px;
  }
  .burger span {
    display: block;
    margin-bottom: 4px;
    width: 100%;
    background-color: #fff;
    -webkit-transition: .3s all;
    transition: .3s all
  }
  .burger_active span:nth-child(1) {
    transform: translate(-4px, 14px) rotate(-45deg);
  }
  .burger_active span:nth-child(2) {
    display: none;
  }
  .burger_active span:nth-child(3) {
    width: 100%;
    transform: translate(-4px, 2px) rotate(45deg);
  }
  .search {
    top: auto;
    right: 78px;
    height: 38px;
  }
  .search-mobile {
    width: 261px;
    transition: width .3s ease;
  }
  .search__form {
    position: relative;
  }
  .search__btn {
    position: absolute;
    top: 0;
    left: 0;
    width: 28px;
    height: 28px;
    cursor: pointer;
  }
  .search__input {
    position: absolute;
    top: 9px;
    right: 0;
    margin-left: 0;
    padding: 0;
    width: 0;
  }
  .search__input--mobile {
    width: 84%;
  }
  .header__nav {
    position: fixed;
    z-index: 12;
    margin-left: 0;
    padding: 96px 47px;
    padding-bottom: 51px;
    top: 0;
    left: -150%;
    width: 100vw;
    height: 100vh;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.8);
    -webkit-transition: left .3s ease;
    transition: left .3s ease;
  }
  .header__nav--active {
    left: 0;
  }
  .nav__list {
    display: block;
    margin-bottom: 39px;
    width: 100%;
  }
  .nav__item {
    width: 100%;
    padding: 0;
  }
  .nav__link {
    display: block;
    width: 100%;
    font-size: 24px;
    line-height: 64px;
  }
  .header__login {
    display: none;
  }
  .header__login::before {
    left: 35%;
  }
  .header__login--mobile {
    display: inline-block;
    margin-left: 0;
    padding: 25px 120px;
    font-weight: 400;
  }
  .header-menu {
    display: none;
  }
  .hero__container {
    padding-top: 112px;
    padding-bottom: 140px;
  }
  .hero__title {
    margin-bottom: 10px;
  }
  .hero__text {
    max-width: 675px;
    margin-bottom: 160px;
  }
  .about {
    margin-bottom: 70px;
  }
  .gallery {
    padding-bottom: 83px;
  }
  .gallery__left {
    width: 31%;
  }
  .gallery__right {
    max-width: 64%;
  }
  .gallery__note {
    width: 28%;
  }
  .catalog__top {
    height: 75px;
    margin-bottom: 6px;
  }
  .artists__left {
    width: 47.3%;
  }
  .artists__right {
    width: 47.3%;
  }
  .accordion__list {
    min-height: 389px;
  }
  .events {
    padding-top: 11px;
  }
  .events__title {
    margin-bottom: 23px;
  }
  .events__img {
    max-height: 199px;
  }
  .events__more-link {
    bottom: 50px;
    left: 34px;
  }
  .editions__right {
    max-width: 68.1%;
  }
  .slide__img {
    max-height: 320px;
    margin-bottom: 12px;
  }
  .slide__descr {
    margin-bottom: 16px;
  }
  .slide__btn {
    padding: 9px 23px;
  }
}

@media (max-width: 768px) {
  .search-mobile {
    width: 87%;
    right: 50px;
    z-index: 13;
    background-color: var(--black);
    transition: width .3s ease;
  }
  .search__input {
    right: 52px;
  }
  .search__input--mobile {
    max-width: 576px;
  }
  .search__close-btn--mobile {
    display: inline-block;
  }
  .gallery {
    padding-bottom: 70px;
  }
  .gallery__container {
    flex-direction: column;
  }
  .gallery__left {
    width: 42%;
  }
  .gallery__note {
    position: static;
    width: auto;
  }
  .gallery__right {
    margin-top: 108px;
    margin-bottom: 29px;
    max-width: 100%;
  }
  .editions__swiper-slide__img {
    max-height: 280px;
    object-fit: cover;
  }
  .catalog {
    padding: 75px 0;
  }
  .catalog__top {
    margin-bottom: 11px;
  }
  .catalog__text {
    margin-bottom: 20px;
  }
  .artists {
    flex-direction: column;
  }
  .artists__left {
    width: 100%;
    order: 1;
  }
  .artists__right {
    width: 100%;
    margin-bottom: 53px;
  }
  .accordion__list {
    min-height: 291px;
    columns: 3;
    column-gap: 50px;
  }
  .events {
    padding-top: 6px;
  }
  .events__item {
    max-width: 47.5%;
  }
  .events__item--mobile {
    display: none;
  }
  .editions {
    padding-bottom: 60px;
  }
  .editions__container {
    display: block;
  }
  .editions__list {
    column-count: 3;
  }
  .editions__item {
    width: 100%;
    min-width: fit-content;
  }
  .editions__right {
    max-width: 100%;
  }
  .editions__swiper-top {
    padding-top: 63px;
  }
  .editions__swiper-container {
    padding: 0 27px;
  }
  .editions__swiper-slide {
    max-width: 290px;
  }
}

@media (min-width: 320px) and (max-width: 500px) {
  .container {
    padding: 0 15px;
  }
  .header {
    height: 45px;
  }
  .header__logo img {
    width: 97px;
  }
  .header__nav {
    padding: 46px 15px;
  }
  .nav__list {
    margin-bottom: 18px;
  }
  .nav__link {
    font-size: 16px;
    line-height: 32px;
  }
  .header__login--mobile {
    padding: 10px 28px;
    font-size: 12px;
    line-height: 16px;
  }
  .header__login::before {
    left: 28%;
    width: 9px;
    height: 9px;
  }
  .burger {
    left: 15px;
    width: 20px;
  }
  .burger__line {
    height: 2px;
  }
  .burger__line:nth-child(1) {
    margin-top: 6px;
  }
  .burger__line:nth-child(2) {
    margin-top: 5px;
  }
  .burger__line:nth-child(3) {
    margin-top: 4px;
  }
  .burger_active span:nth-child(1) {
    transform: translate(-1px, 6px) rotate( -45deg);
  }
  .burger_active span:nth-child(3) {
    transform: translate(-1px, 0px) rotate( 45deg);
  }
  .search {
    top: 10px;
    right: 34px;
  }
  .search__btn {
    width: 16px;
    height: 16px;
  }
  .hero {
    margin-bottom: 55px;
  }
  .hero__container {
    padding: 33px 15px;
    padding-bottom: 45px;
  }
  .hero__title {
    font-size: 32px;
    line-height: 38px;
    text-align: center;
  }
  .hero__text {
    max-width: 97%;
    margin-bottom: 42px;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
  }
  .hero__btn {
    display: table;
    margin: 0 auto;
    padding: 12px 18px;
    font-size: 12px;
  }
  .title {
    font-size: 28px;
  }
  .about {
    margin-bottom: 43px;
  }
  .about__title {
    margin-bottom: 15px;
  }
  .about__text {
    line-height: 28px;
    letter-spacing: -1.1px;
  }
  .gallery {
    padding-top: 55px;
  }
  .gallery__left {
    width: 100%;
    margin-right: 0;
    margin-bottom: 118px;
  }
  .gallery__title {
    margin-bottom: 25px;
  }
  .filter__text {
    margin-bottom: 13px;
  }
  .gallery__right {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 0;
    margin-bottom: 20px;
  }
  .swiper-top {
    margin-bottom: 0;
  }
  .swiper-container {
    height: 367px;
    margin-bottom: 20px;
    max-width: none;
    min-width: 0;
    width: 290px;
  }
  .swiper-slide__img {
    max-width: 350px;
    max-height: 367px;
  }
  .swiper-top {
    order: 2;
  }
  .gallery__note {
    top: 709px;
  }
  .catalog {
    padding-top: 85px;
    padding-bottom: 51px;
  }
  .catalog__top {
    display: block;
    margin-bottom: 22px;
  }
  .catalog__title {
    margin-right: 0;
    margin-bottom: 11px;
  }
  .catalog__btn {
    width: 44px;
    height: 44px;
    background-size: 32px;
  }
  .catalog__btn:not(:last-child) {
    margin-right: 13px;
  }
  .catalog__text {
    display: none;
  }
  .accordion__title {
    padding: 20px 0;
    font-size: 18px;
    line-height: 32px;
  }
  .accordion__content {
    padding: 18px 0;
  }
  .accordion__list {
    min-height: 291px;
    columns: 1;
  }
  .artists__photo {
    margin-bottom: 25px;
  }
  .artists__name {
    margin-bottom: 17px;
  }
  .events__title {
    margin-bottom: 16px;
  }
  .events__swiper-container {
    width: 100%;
    overflow: hidden;
  }
  .events__swiper-wrapper {
    flex-wrap: nowrap;
  }
  .events__swiper-container .events__swiper-pagination {
    margin: 20px auto;
    width: fit-content;
  }
  .events__swiper-container .events__swiper-pagination .swiper-pagination-bullet {
    margin: 0 7px;
    width: 10px;
    height: 10px;
  }
  .swiper-pagination-bullet-active {
    background: #666;
  }
  .events__item {
    margin-bottom: 0;
    min-width: 100%;
  }
  .events__item--mobile {
    display: list-item;
  }
  .events__item--hide {
    display: list-item;
  }
  .events__img {
    margin-bottom: 16px;
  }
  .events__place, .events__date {
    padding-right: 10px;
  }
  .events__card-bottom {
    padding: 3px 20px 0 27px;
  }
  .events__subtitle {
    margin-bottom: 36px;
  }
  .events__btn {
    display: none;
  }
  .editions__left {
    margin-bottom: 50px;
  }
  .editions__btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    line-height: 32px;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  }
  .editions__btn::after {
    content: "";
    width: 15px;
    height: 15px;
    background-image: url('../img/download.svg');
    background-repeat: no-repeat;
    background-size: contain;
  }
  .editions__list {
    column-count: 1;
  }

  .editions__item {
    display: none;
  }
  .editions__swiper-container {
    padding: 0;
  }
  .editions__swiper-wrapper {
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .editions__swiper-top {
    display: none;
  }
  .editions__swiper-slide {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 48px;
    max-width: 45%;
    min-height: 254px;
  }
  .slide__img {
    max-height: 143px;
    margin-bottom: 10px;
  }
  .slide__descr {
    display: block;
    font-size: 12px;
    margin-bottom: 7px;
  }
  .slide__title {
    line-height: 16px;
  }
  .slide__author {
    line-height: 16px;
  }
  .slide__btn {
    align-self: end;
    padding: 12px 37px;
    font-size: 12px;
  }
}